
/* estilo general de la página */

body {
    background-color: #f9f8f5;
    font-family: 'DM Sans', sans-serif;
    color: #0b25e8;
}

::-webkit-scrollbar {
    width: 12px;
  }
   
::-webkit-scrollbar-thumb {
    background: #0b25e8; 
    border-radius: 10px;
  }

/* estilo encabezado */

header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

a.visited {
	color: #0b25e8;
}

ul {
    padding: 0%;
}

li {
    list-style: none;
    display: inline;
    margin: 15px;
}

li a {
    text-decoration: none;
    color: #0b25e8;
}

li a:hover {
    color: #e6642a;
}

#home {
    text-decoration: underline;
}

#logo {
    height: 100px;
    margin-right: 50px;
}

.rrss {
    height: 20px;
}

/* estilo cuerpo */

main {
    padding-top: 40px;
    display: block;
}

#cabecera { 
    display: block;
    margin: auto;
    margin-bottom: 30px;
    justify-content: center;
}

#descripcion {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
}

#flecha {
    height: 15px;
}

.end {
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
    margin: 30px;
}

.proyectos img {
    border-radius:10px;
    width: 40vw;
    padding: 20px;
}

/* estilo footer */

footer {
    display: block;
}

